name: Rust

on: [push]

jobs:
  native:
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Run examples
      run: |
        cd examples
        cargo run --verbose --bin fallible_dependent_construction
        cargo run --verbose --bin lazy_ast
        cargo run --verbose --bin no_leak_panic
  
  miri:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup miri
      run: |
        MIRI_NIGHTLY=nightly-$(curl -s https://rust-lang.github.io/rustup-components-history/x86_64-unknown-linux-gnu/miri)
        echo "Installing latest nightly with Miri: $MIRI_NIGHTLY"
        rustup set profile minimal
        rustup default "$MIRI_NIGHTLY"
        rustup component add miri
      shell: bash

    - name: Run tests x86_64-unknown-linux-gnu
      run: |
        cargo miri test --verbose --target x86_64-unknown-linux-gnu
        MIRIFLAGS="-Zmiri-ignore-leaks" cargo miri test --verbose --target x86_64-unknown-linux-gnu --test should_leak -- --ignored
    - name: Run examples x86_64-unknown-linux-gnu
      run: |
        cd examples
        cargo miri run --verbose --bin fallible_dependent_construction
        cargo miri run --verbose --bin lazy_ast
        cargo miri run --verbose --bin no_leak_panic

    - name: Run tests mips64-unknown-linux-gnuabi64
      run: |
        cargo miri test --verbose --target mips64-unknown-linux-gnuabi64
        MIRIFLAGS="-Zmiri-ignore-leaks" cargo miri test --verbose --target mips64-unknown-linux-gnuabi64 --test should_leak -- --ignored
    - name: Run examples mips64-unknown-linux-gnuabi64
      run: |
        cd examples
        cargo miri run --verbose --bin fallible_dependent_construction
        cargo miri run --verbose --bin lazy_ast
        cargo miri run --verbose --bin no_leak_panic

